<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.springframework.org/schema/mvc">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!--<link href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">-->
    <link rel="stylesheet" href="font-awesome-4.7.0/css/font-awesome.css">
    <script th:src="@{jquery/jquery-3.3.1.min.js}" rel="script"></script>
    <script th:src="@{particleGround/jquery.particleground.min.js}" rel="script"></script>
    <script th:src="@{particleGround/demo.js}"></script>
    <!--<script th:src="@{requireJs/requireJs.js}" data-main="js/main/main"></script>-->
    <!--<script th:src="@{js/main/main.js}"></script>-->
    <script data-main="modules/main/js/main" src="modules/requireJs/requireJs.js"></script>
</head>
<body>
    <div id="awiMain"></div>
</body>
</html>