<!doctype html>
<html lang="en" xmlns:th="http://www.springframework.org/schema/mvc">
<head>
    <meta charset="UTF-8" />
    <title>登录</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link th:href="@{particleGround/css/style.css}" rel="stylesheet" />
    <link th:href="@{css/common.css}" rel="stylesheet" />
    <link th:href="@{css/logininput.css}" rel="stylesheet" />
    <script th:src="@{jquery/jquery-3.3.1.min.js}" rel="script"></script>
    <script th:src="@{particleGround/jquery.particleground.min.js}" rel="script"></script>
    <script th:src="@{particleGround/demo.js}"></script>

</head>
<body>
    <div id="particles">
        <div class="intro">
            <h1>LikerSai</h1>
            <div>
                <div th:if="${param.error}">
                    无效的账号和密码
                </div>
                <div th:if="${param.logout}">
                    你已注销
                </div>
                <form th:action="@{/login}" method="post">
                    <input type="text" name="username" placeholder="用户名">
                    <input type="password" name="password" placeholder="密码">
                <!--<div><input type="submit" value="登录" class="clean-gray"></div>-->
                    <button type="submit" class="cupid-blue">登录</button>
                </form>
                <!--<div class="containerT">-->
                    <!--<form class="form" th:action="@{/login}" method="post">-->
                        <!--<input id="username" type="text" placeholder="用户名" >-->
                        <!--<input id="password" type="password" placeholder="密码">-->
                        <!--<button type="submit">登录</button>-->
                        <!--<div class="prompt" id="prompt"></div>-->
                    <!--</form>-->
                <!--</div>-->

            </div>
        </div>
    </div>
    <!--下面是无用代码-->
    <!--<a style="display:none" href="http://www.bootstrapmb.com">bootstrap模板库</a>-->
    <!--上面是无用代码-->
</body>
</html>
